@import url("https://fonts.googleapis.com/css?family=Open+Sans:300");

body {
  background-color: #e6ffff;
}

h1 {
  text-align: center;
  text-transform: uppercase;
  font-family: "Open Sans", sans-serif;
  font-size: 35px;
  color: black;
  letter-spacing: 6px;
}

.propic {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

h3 {
  text-align: center;
  font-family: "Open Sans", sans-serif;
  letter-spacing: 3px;
  font-size: 27px;
}

#Table {
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  background-color: #ffffff;
}

.infoTable {
  padding: 20px;
}

html,
body {
  padding: 0;
  margin: 0;
}
.image-grid div {
  width: 20%;
  height: 240px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.image-grid {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
}

.image01 {
  background-image: url("https://lh3.googleusercontent.com/8otB_-SnsG76VqT_dH2WqFL_ePcoUtO3gn3t9XMUva0kidalK0W3-_TB4cNtLLawzVWmFGqNLakFoajv2zIWPYp1lp1ORf1gx5M1ndEF7y9-zMw-uqu0GFyx-JcSJ3p32jcf1SxSmGAuoG-Xkl8auwpb1IZZVxIPU8zMbO9tdgspeMbg5e5WvVWWMbdQSDhVRjlevAsciUzpYP15a145lmeykfL1Ar1siryjZXn_sR0C9XljkyBUL1lZyGxd7sVvnRKAir2Pet4C_hQD4bs-RDI2PRa8d7ZmdU3Q2jILlQNyTGkf-EfpqqL2QnP3tXi64s_3hA06m49sLV0ulzpvkn5qr0GUzv_jDSgs2B6qUghKa8fq8_QHD7HkRXkVyHXNJynyi27xbXSF9-5KczvO3kwCjdJHn2sNPaTxJ28g7QplIV7VRfjHv38qtxJUpyIkiikEDmBewUhjrlkg2CM8yTC_VF8OM2zE5jA5P-JWBURem11bVXy9Xs1zsC1ix0u-51yhnqnII-ZvU7eYouHfre3M9Ue_zXgDYGDaSxYjxUe76nbEJ_UJHSvsnXdPmfmwsCc4317uqthucgOQl8zDJDgtsGFlTmRJx4BcVD0=w2600-h1463-no");
}
.image02 {
  background-image: url("https://lh3.googleusercontent.com/YCRxxCuBELp-v3-mM0H1_yCV0QJsjyGzBjHp8cF-tBwoulPSmhW_6y7JQSf1vY1zLxRb2LDS7AEzIhnXK4xBfz2z5wPEDWxzmaEbO17ryzoimrKGWFISzsrorEvTxo3hhw9iqwF2lX-O0RCA5m8d2FdAoOGUTMRtzYI-O0uIdBHo9cJ_jtGjwo_HHsN2gKiycX8M-5kS_CPk7SDsMcDjboY9Q9cbohEqpn2ZlBiVzpFp2Bnc7AvvKadyWiTXA7dhoLwjdqTK-0Y4TdoNgzEKbpV73wNEpGxg_PJayzrmvMGfmeNOtwEV56uPUO_q0Sh-y0w_JcGn3VkIDNwxlOy8SvYMqNhpR_gp4N9_dlCqke9micQojZY7qd3U_xUDKMWZiy-R0Ten-qyxtJoAUWGsDxUaKv9ImpordKcV3UHwQxwI8ZoqnZmz97c95D8FLMSsCGvCnIbc05IgOCvBY7sT9L53RwGyO0PoF1_cJ3hYjKyT6-5r71QRSCiSoT_HUiDPVXElQQiKAc8ZZ75sbI1nkXbxzAfiubcRCE0JCrr_b59yG1xhSB3X2aQjDq6u_I-tmv_UJSckeczZS2eKgm05qQR5vI-AXoY8qF1X0rw=w2600-h1264-no");
}
.image03 {
  background-image: url("https://lh3.googleusercontent.com/w8an8ZGaf8huEm8AqBbGmZmdMNHwCIVsk-U8nb3WHaacMsN0Vyo6YincA06hMyYkgF7sheiwaOlSJLNr_Y9vbwVp4lI7LofLOzSiH8i7sJIPt1MXTEDF7apHEWVbhGfnblMcjqHiIqcO-GMRMWWMfYnWivNl8kPr2zhJdD9V4BurCaROvQX-LrJBTOTl8Q7U7kqftzSy0nicfTH3xq0NU8PoUgtcjH34V5Tll0TzVp6XZTO_hg705nFan_3W9WcCwItOsKUUG2ctpmjJxXORO03948BCJEdMTcn8WVxW_XNnlSnZ75M8DsZJWGz8o3dXMWgRKcH_aUUnr5OE4TCXT3NFmCRnsEe6zabD4-OOGt1WHg4Gyaz_CFSFPqLB0UMtAhEFa0j980nkfDcnC73WGQqxMHlsf92g4zwmqV2I9npzFCzcgqOWOqn04vJPykX13Q4kiIrGLtM0EnCvT2ABvvoPurVQmXnsu4Lrb4Coooh30DhJEkUf3513mf-iVDKS2Q70U-9WHJDwfdie8D8qbMIE07HaOlRtXkuowkjrpCnORy2Twy0nPppvJIURre8CZ-5ze2mqMqJFu8P-bJO74l-PSl4I0y-S-o2yomg=w1920-h934-no");
}
.image04 {
  background-image: url("https://lh3.googleusercontent.com/yo7qJp8NtKcdDpsqTsEo36_-h2RT0ps9tIYf_x1FYQBdU6FmnpAsfFqeXrCZPRj2Fx95APiF4Y1pMgMBT4Dzz1-tef424cVIkQysxv4Jj-eCp-KZmiMWv6Yy7tcURoFtba6HJG_bK-NMBaCehgjbiptOW4HL08zEjXlGlSc0mPoDWSDviaM64sBNuAqTm4IdwlwzDt8NJBHTjn_V46upqIZNwDEobnxjhmRsojOJntf7xdT3o7W1SMpI8BQo9d5ByoQaNZaXIwjZmZrx46WBs1qaCT_6LN6TxFC8DIdHFn7y-BzHYA_jsNWZwXmxNnVvLSIqlFpTzit2fiT6LOfPVK5DqmgwudYd3yRqwrUt3ABvzTMw6iRwHyzrbQqnPLZT75D-74S-TCZVuu2cHsX9HgRbVEosU3twLRViqOLynTKfgf4rnv9gZjGlAocDiQYkmWkK3BFpZf3a0mGs-m0oqeqbjEpRWdUF4cC9wIiAE4EEOmjrdFohwhoVVi89dTPmXWvLG-2L7tuBl_eyv-2GjLz7fPwjfmvqtcxCtb9u2-yA_p0XYcvnWcQ1d925wpasJOZPVD6B2KJ6RBs9-YyPdIiAyHpebArNF_eItMM=w1360-h1702-no");
}
.image05 {
  background-image: url("https://lh3.googleusercontent.com/Lr4Bb9A_Sbef7vNCfUqfayGWVcRzibpia9NLYBn2sGw3v4ZcFTk_dfjzm6zDXebHWgtoGheRo9g_hw8wpRRuXE2oeFcHaLtFKFWrWLJcnnkjps3Isaa8n_rSqNlr6b_gOj8MUXSbcXqagAgXfisxDp9ywfkB2xx0LVfUEi_DX8A2gCYr0U063UZ2zVKH0786blzJiDQu8vp0axqsmWjXKcbgmXgTzs55TWKBkeyjEyRCwrXezDQSmaUKAT29ir6_OLHBx7jzb2VtAukh4ec8mrLQB3Gw1iQK_kP0QI-0qP6qbKa14iKrFXt-qxS_i9auPLD1Q_Nd4rSNywJqbdxWbUlgHiwpBPB13SALSpv1xYWuxGkUH71PTPDToc0IhItf_meeigG7Ov8XPusdLNoH_aRS9c1vfciY8JX-cQ56QHLS0GsLwr8pDi2jYDtE8oXYLT4BzIXLpgDw8_tGiVFb0q4dZyVvAL8aiXU3HnBjRud9RupWx0NudWAnZRPeZtkCnKhi0hGdmM1CHE59uC3OquxDnO1Aj7nmfxtMgqvkphu-WqS5_gkkpvfAchF1viP1OdRztTxDn4TU6GqwfoAffR7S1Ij990GQhNPP0xQ=w1321-h991-no");
}
.image06 {
  background-image: url("https://lh3.googleusercontent.com/fjUYNFFJjzZqTo1LBsbJS-uLEPQbMh_JwakT-S0TAZZrb0jKn_HdUA9zRtIIKCrWxOKKdLN0t56MSmnONXfks5TRhAwbvXo5Dggn55cNuHkuvweMZMFtWxVyRFySXs9wnTV1U2hOqbCLnbvdOLV1nLT8355Y2pgpXnGblnSNGY6febyIFgqzBQMhhW1K8kBWCFn0iVjA3Po4o2g-AFMxJp4IO4BGKD1Giz3sh6ImBsdFpm6bE_uQQAF3jOlZTbzh6niNrHWSsyRCHk7u1fVJxcRvzyJgMbb0YNfHXnSDge_FD6s5USpA5iCO5NJ4kByUj70N4t3PtEDde560DQ66hWfeufeqTndi1WNXYsV9TLuwAOVjom1YAGGIjie-38x9J-ZPGs32pEfa52Epb9w3sTqeff242HjqY7iC_xj-mo6RRYKC4I_62RSf0Zh3d38kyudOjbgEjsiuv9vc3U7cTqy7LtQpcawPoUag7KfDvViap_BqkeLmDlHTeIecQLgr-E-vWAtQqvR9ZT8wOrQ29jZVCGkBFR9OdzQvPuY0hEuE09xykVSvD8GNFs-Oyzh8kggoAIBI_Um8EBfzTGXkrlBDwneBN8xHl55LeHg=w2550-h1700-no");
}
.image07 {
  background-image: url("https://lh3.googleusercontent.com/UQrduiPW721sUAY-qqonqD26J4FNbvf6HlCK4YzXkEzrcC7HxHsjunsQMoR7w4ZwafVX79zf_G9CUbvxOtIu57yYrPSYXPprmg31AF3AHYASugGYRVteqMGHle0HQ0jgkyq3Vab2qc_ryJ7g_PcscyOKENJgJ4DwWWoP5U_jMiZKpgwEHhM7Er5ywYrdxhtB6NESaLbR6DBePYF7AIUjdK7O_MYttUf1Vkh9fXV7O1IcDwEmDqspkRVfT-f_m4Q8idOID0JPVxt8FPnlLdcKjq-C2qFw0JF5lMhlQ7nkuoFi05Fhuc0LuU7gw27jR9qvIaIv8egAbW2LqAXl5tRyFX-2e_vCDs6gvc80MH8J6-lWn3WiPw__UZ3S0n8ZKB5ezz-SvLBLhVlwE0gYzEpMSmTGtUm3ndOuwLt0h-hCbqeQYiL-7r6tD-VeUig--VigfwiUBklICFrG_XgIxjPUmSFk-TTi6c3XE73CeGImkFXy0oqlGnpV2t9qnp4caZcAvtcsohz8kxZjiVaY_HLj7oHlz0Scx1Mh7KToKLvbN6zETK-dAajocufgqlASb5BeD7Zy1SAwDPCO36Cx8o3cl32JIlNdvyjiROY9tZM=w2550-h1700-no");
}
.image08 {
  background-image: url("https://lh3.googleusercontent.com/nYYk6YFjnZFRLAIlLvz9cK8YeTJvSi14r22TTR3R_59n5z71wvW-lhs1d077qj-AgsFXHEMukFHWCafoKWDUO2_5XMlyHjFxkt_LiNn4ljw0L6Tbv5Dk-2g4Whw5t9sA7AQkuXUSW9JtGOQOiQDFGjpEWWx0InWBaDi1vrCi8e7Z4S4OGbLhXxHB2PIwI9KH2k984Ade3uyLYRc3KOKIl6MkLOSgvMJd8csb3NegE-qM0O7sI3RkU5H26RFMT3BxKcRk0UOdfWphK-CCHBtGaPLEsm6VLYFJwKYQzqQ09CV8d8Hy7ETh4qNsCggxOyhBjy8sC49J0kxjZVSPgCsVzvbGb41K2I_Wx7jlLDXdqnuDzpCJH3PFBgnVxcvuXjjisONz50UsbbkeKo6HRmyg9aq0kYhmiANeTe58fGGT_6CLMKpdJdkmF1Wwx1uV82lms3ONoq9nHczsokBtVBNbTinjdvzIeJYsIx_kiD4ZZ17Av5lKBq7WLf6tkoeDfvjgcK5FWdm1Qepb2QMzo6JCtcvO5XWKy8lCNksduYL_QDbyLNuoqy5J5VVN_QfpdoYJjTrtCECIh9EvtLHMo9C8uwcJJ9m-qjMZ01iG-S4=s1700-no");
}

@media screen and (max-width: 400px) {
  .image-grid {
    flex-direction: column;
    flex-wrap: no-wrap;
  }
  .image-grid div {
    width: 100%;
  }
}

table,
th,
td {
  border: 1px solid black;
  border-collapse: collapse;
}
th,
td {
  padding: 5px;
}
th {
  text-align: left;
}

input[type="text"],
select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type="submit"] {
  width: 100%;
  background-color: #ffffff;
  color: black;
  padding: 14px 20px;
  margin: 8px 0;
  border: 1px solid #555555;
  border-radius: 4px;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: #cccccc;
}

div {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}

.formInput input {
  box-sizing: border-box;
  z-index: 1;
  display: block;
  position: relative;
  top: 0;
  left: 0;
  float: left;
  font-size: 1em;
  font: inherit;
  border: 0;
  margin: 0;
  padding: 0 4px 0 56px;
  border: 1px solid transparent;
  border-radius: inherit;
  width: 100%;
  height: 47px;
  line-height: 47px;
  background: transparent;
  color: inherit;
  transition: border-color 0.2s, color 0.2s, background-color 0.4s;
}

.formInput.hasTextarea {
  line-height: 24px;
  height: 191px;
}
.formInput.hasTextarea i {
  border-radius: 0 0 3px;
}
.formInput textarea {
  box-sizing: border-box;
  resize: none;
  z-index: 1;
  display: block;
  position: relative;
  top: 0;
  left: 0;
  float: left;
  font-size: 1em;
  font: inherit;
  border: 1px solid transparent;
  border-radius: inherit;
  margin: 0;
  padding: 12px 4px 6px 56px;
  width: 100%;
  height: 100%;
  line-height: 24px;
  background: transparent;
  color: inherit;
  transition: border-color 0.2s, color 0.2s, background-color 0.4s;
}

