@import url("https://fonts.googleapis.com/css?family=Open+Sans:300i");
@import url("https://fonts.googleapis.com/css?family=Open+Sans:300");

h1{text-align:center;
  background:white;
  width:400px;
  
  
}
body{
background: linear-gradient(to bottom, #ffcccc 0%, #ffffff 67%);
 background-repeat: no-repeat;
    background-attachment: fixed;}
#west-town{
  position: absolute;
  left: 23.5%;
  top: 247px;
}

#river-north {
  position: absolute;
  left: 40%;
  top: 300px;
}

#near-north{
  position: absolute;
  left: 39.8%;
  top: 235px;
}

#near-west{
  position: absolute;
  left: 23.783%;
  top: 395px;
}

#wicker{
  position: absolute;
  top: 190px;
  left: 24%;
}

#low-west{
  position: absolute;
  top: 461px;
  left: 23.8%;
}
#bro{
  position: absolute;
  left: 40%;
  top:486px;
} 

#title{
  color: blue;
}


.pic1 img {
  max-width: 100%;
  -moz-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.pic1:hover img {
  -moz-transform: scale(1.5);
  -webkit-transform: scale(1.5);
  transform: scale(1.5);
  z-index: 9999;
}

.pic2 img {
  max-width: 100%;
  -moz-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.pic2:hover img {
  -moz-transform: scale(1.5);
  -webkit-transform: scale(1.5);
  transform: scale(1.5);
}

.pic3 img {
  max-width: 100%;
  -moz-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.pic3:hover img {
  -moz-transform: scale(1.5);
  -webkit-transform: scale(1.5);
  transform: scale(1.5);
}

.pic4 img {
  max-width: 100%;
  -moz-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.pic4:hover img {
  -moz-transform: scale(1.5);
  -webkit-transform: scale(1.5);
  transform: scale(1.5);
}

.pic5 img {
  max-width: 100%;
  -moz-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.pic5:hover img {
  -moz-transform: scale(1.5);
  -webkit-transform: scale(1.5);
  transform: scale(1.5);
}

.pic6 img {
  max-width: 100%;
  -moz-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.pic6:hover img {
  -moz-transform: scale(1.5);
  -webkit-transform: scale(1.5);
  transform: scale(1.5);
}

.deets{
  font-family: "Open Sans", sans-serif;
  font-weight: bold;
  font-size: 25px;
  position: absolute;
  top: 300px;
  right: 0;
  width: 550px;
  height: 100px;
}

.pictures{
 
}

@import url(//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css);
@import url(https://fonts.googleapis.com/css?family=Lato);
.accordion {
  width: 800px;
  height: auto;
  font-family: 'Archivo', sans-serif;
}
.accordion > div {
  width: 800px;
  cursor: pointer;
}
.accordion-item {
  width: 800px;
}
.accordion-button {
  width: 800px;
}
.accordion-button h3 .question {
  position: relative;
  display: block;
  color: #7fb0ff;
  padding-top: 10px;
  padding-left: 60px;
  text-align: center;
  font-family: 'Archivo', sans-serif;

}
.accordion h3 {
  width: 1600px;
  height: 50px;
  margin: 9px;
  font-size: 25px;
  background-color: #fff9fd;
  border: 1px solid #e2ecf0;
  cursor: pointer;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}
.accordion-marker {
  width: 48px;
  height: 100%;
  float: left;
  color: #3d87ff;
  font-size: 30px;
  border-right: 1px solid #e2ecf0;
}
.accordion-marker i {
  padding-top: 10px;
  padding-left: 12px;
}
.accordion-marker .fa-plus {
  color: #3d87ff;
}
.accordion p {
  width: 400px;
  max-height: 0;
  margin: 0px 0px 0px 70px;
  font-size: 20px;
  color: #9aa7af;
  overflow: hidden;
  transition: max-height 350ms ease-in-out;
}
.accordion > div.active .accordion-marker {
  background-color: #21c2f8;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}
.accordion > div.active .question {
  color: #000;
}
.accordion > div.active .accordion-marker .fa-minus {
  color: #fff;
}
.accordion > div.active p {
  max-height: 200px;
}

#accordionList {
  display: none;
  margin-top: 450px;
}

.photographer {
    display: block;
    margin-left: auto;
    margin-right: auto;
  width: 50%;
  height: 50%;
  margin-left: 625px;
}
}
#headline1
{
  text-align: center;
}

#link1
{
  position: absolute;
  margin-left: 680px;
  text-align: center;
  
}


#link2
{
  position: absolute;
  margin-left: 700px;
  text-align: center;
  
}