@import url("https://fonts.googleapis.com/css?family=Open+Sans:300");

body {
  background-color: #e6ffff;
}

h1 {
  text-align: center;
  text-transform: uppercase;
  font-family: "Open Sans", sans-serif;
  font-size: 35px;
  color: black;
  letter-spacing: 6px;
}

.propic {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

h3 {
  text-align: center;
  font-family: "Open Sans", sans-serif;
  letter-spacing: 3px;
  font-size: 27px;
}

#Table {
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  background-color: #ffffff;
}

.infoTable {
  padding: 20px;
}

html,
body {
  padding: 0;
  margin: 0;
}
.image-grid div {
  width: 20%;
  height: 240px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.image-grid {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
}

.image01 {
  background-image: url("https://lh3.googleusercontent.com/rnr8Jq51h0gzuFtTynYLplnwn0uJOACeE0y_SChr2-0EFnz0bOKa9ewN86KCWq8W-RI6iH1nDEDhlip6Fn_2ncJyRkC5QK6w7Et00IDUKZ9mIFSaSAoYjjnZVm-wfQJfKe-BSzhCX02gRbMJUnguRMAj8H53iWVscdw1Zz23nNxcnHmKXrZ5peht420--ic2n2Xgg85eUMFzLdSbjKz0oXH0dW0r-YKCrhgcT3wERLFtcNcLx5OPlmAsZAbBmHQu8tXbJ3SvPtkz1j4qVOrOuYRgJzEc0_2HNHyVPHg6LrLqzaHrPatMqsLSBkJu-pBpIqKBr3kBtkJfQa2xM8hYHsU21-O3WCxcTe33YjBD1E2HxvB739U0hYzOeiH3IEtqpvfz0r_wavrGeYgjQyI2hq2ucfGH-m0ZaIGbJmasRVMOZHs3cG_rLpGAHkT-Yz7OOeWQqR_qeY4eJPYgYqp4dUU_ZE72O5N1Uswmsy-f3iwC-CTWY5RMZ0xDlr3c-uNiWqNPm5-06T447-1k_fbsIZ9jv9_J2IMwm56sVW8Z-3_7RaJuofQzPhj2LXfMQ0GpPW-7DDkcmMcrNoWnMrFr1JbPc-R7XhhQacXFc6M=w2222-h1480-no");
}
.image02 {
  background-image: url("https://lh3.googleusercontent.com/_eclfRxCftLYHOTUFAURlfbn5uXSwW2BOCPBWWxYbiTe-sOO5yO3jBuXq4Ge9dcJDe2vWNhWEcHMWMeSfbp-K5iZdA-WdFS8lsUBxpESTPsn710sYNr2KRdahQp4Dv7U5wg5hXYAVygpK9kYPLf-E5RvdwQ4Dl5EgRWw98hbBUX2vbwlntp8Pu09P-kfizwNHNvudcoW3YDd4Tu2O3M3tTn3Y9jkr2GRqGDsQYmeo4QNcCjLTI8qeuQ2RCvUctWTgCv4tHsYkN9auShnuCRDTf3OjAd7N9fb8Lvbw6B-ggZaT80hsjR6MokL5vJf6xr-kIzpB6Wd7S6dVhbuSWpuMIaxgi01VSu5-reJVnfrri6lcVNM6IiMc3sJHYWkyz5imVeoH_o4sVcwZpFsQ9Kklw6SeMn3BKqL7DXVUXvjL5c3HQCBieq9-Codvm9MdB2wlT9A1ux6ZV14lsV0Kd3zudjL4rkWNqsZoFK-mivIZynXMqJKc3X8gAhEc_CQVxybXcWrsYLFYdCm7R11z19huSz3MP3HrwWTaNrVxBboDW7P3G1ib6LHhM4kl_Tzc1eLPztNCsAEETfRkaphSGSXtjpIEwXUuPdhLYJSYew=w2222-h1480-no");
}
.image03 {
  background-image: url("https://lh3.googleusercontent.com/hcc_8OfA0WYbjx-n24EgCUSMqFcx4ObIDfE4AqBv2kiDpztrBsrkt-LV8w4HQp1M-JVWSQR0QFQ9BJAcEEZEIHi5J45tKEppFgDOfqSJIrcSY8x8oDdTG8Zq6ylCu-BYAd86Sl9FA9_tzeDg5uJ5ndwa5Vz-FjUtfre4Mws8m2cQyoqBuq92gFOBB3QeR0vYLOns7vmTsHOQu6i7Lzg4nldpDHykns_0v-yWMbbdoNqrmPNaI_3sBap4sasIUWbGgdis2oUzrTh0HWR-hYrRoIMLP8Nm-Q2VXGYPcxmF9Ba-1Zsub3ZcX1eORz-1gqALipymEl3lQa2tRuaVKSeyqAXKAt3W3ddRuoGQY43pzhn92Ef57B73haNSkOT3mKxwI4n_EFxG7LcGveC84rZ-sx7KQxv2Jh1iyRUucirYFKy0yH7LLvuMYLqM9XrJyQILRgtmvRSWA_bXMYEihi3MWus8vKdq7TdHg-mRxEbY-FsBC0qoj3Z14aXikqSCK6AGmCFxej92dBlK6J1ZUApZABefZZNPNj2jXSYYi4cyI5oeHKAZ4HRHURpJPzv4xoaOOMk1l12J7NJMdtZojvErvzMjO9eIfSmJIJC0Yqg=w1818-h1480-no");
}
.image04 {
  background-image: url("https://lh3.googleusercontent.com/NDIn_P3NwfUNPoc8fnE_0puIhlDkN72O4Q0we-SuU4joyM0LLcVTgjkSwYD54gs6-oth0pwWulUEDANuruVRPcZLueAPgpqB3hNlpIpPWGUnHXQnishXew4wXgYZXdGwa-IxG86pClwpak6hPi_lhOxvR67-MDmSdLrLGmfPwl5lQV6EFfFQqQ0hHYVKW2kPVJbag0V84z8oAwdzbcqdFO5MvtJLd5bbhFrgRkElB2eUISz23lqqEaSQgKgCxIrdZp6eynZIPaXmEwv0bdKPUsje5-382ty17c4VisyF1iqynGE6Ou-ONkeyHZx_BHVm8YOQWuvRhp06a9Z79NMBJeGrJruOp6bcoVGCC12A9dVR8XYukWVLeAs2Q5A04Hc5yZXLJkceVpiS0fkoISICIYm6hFi6-xKm5XfZgKyuf_OaBCMDTzugj2Rq88vIGsiR80BtQ0TW6kAny3YccGcjHRWKcDi7sEHF9UubAjN0lakJr6eaD0w2sTXVH0-JxJWyomtieIhklpmdIoHVv3IBIWGZ29L1zrRl2jLDuWLl4wij0J3SB5-_IaJv6hVJqsRWkxkUvlTSP3CIT-Pmg5Lm9O56q475A8ypZ3xQd9U=w2222-h1480-no");
}
.image05 {
  background-image: url("https://lh3.googleusercontent.com/uFmHDDTV2Cw4DzQ7CKQ7jVjwx_mL-YBBRh_j_lOZNuwSakZ7bJ7hB6HerN4yV5U37QfV1GWKHptkmu9BAswsR4SKPYCiBdpEQR9BBVV6y0w9RO69X-1l4pgq2C-IwvLcGXQP7lqybMVtidTNPLlrqnA3HAzk5EE0gTPogdbAXOnpR_vD_OO61QVs4qog-jiR44PYlEWoIwCyW7zNAWdfn_q15KAf8uPQtMaZiY_ZtX3J8M3p9SwFFQ3tI0kDwMWOkdGB1ocojTFyGnqiNtA4Rjhz-A2Nu3lt_h90sdXRIbm2s_HsHInD1jNtzmg_R0dCIkHgEzr1nlkNAf0GWIy_il0VYJubW3LsEAeRwFHtEuE6B4GZlbE8fNaaTJlQtuzXsIWXhWgdTu0gVp03kix9YMbW4rJKl9-YiKpJArox0iNbR8miWfNngQvesU2Bo_oCUIeeeAEmR0ajiUJf4XBDibb2Y-ZmF04cLZeWRn3gkhph8m0isJVOwh9s6L3KHY7-S7DSMixSBOX8kHUGp7A_ojEjjj4gfRWtnc6JE1bo3u2lrgO69HTTunqTOPfUV9Dab3kH5lhc5A1BDrSERMfroBWRgyNHRGwCIwm-ENA=w2222-h1480-no");
}
.image06 {
  background-image: url("https://lh3.googleusercontent.com/deUN2fzBgEnQ4xfrokLwYhha7ItqczVDjI9UKYdc5KXNVaMndGZf9dhcDBLufWFGHsu_DCbsXGi3tvP0ZLNyeLLVhTADj07z-BO3UIDKBotNPzWGS72CBoZfUtUupOkWL9TS_7oaN9FxhVlE6UddiesPyiDwplaszhBYYp55o-H121Hgq8SNjysMTPg7HOeYhirLGzFkUNoHI5QctnBJbHrQruW7BIE3EL0za0oy9UsUi13exW0mXEHYkSOD-Pw42owpN05QGv8I64ESEkAq63ZF4plG0nn6wDzg8eVP5PKDhKmS1K7U7NBMoCyQp0Nx9Km0eI2dMwEfegAMR_Q1LNXXYm4d-B1kfys1bnuH6ONcE9tFNg09wwdp-ExWKFjHhUW8TRctCYdDyfS-FWlbsnzVOM_XE9ShwTndLiMZV7jP4ctRrcREEAJYOAythjGnhlZA_GRaU_IqsJa6mh1Qkj_E12d6bDD_lNLYqRIWivDzEPs9_7cyC1zkhIZCB0iYQMQvEGDoK9MdPLoFVaq2VKUvLnlVjsP4bAdD5fwkcqROW4NJU9j0G1iLWp5zxdsrUNr1ZSPCdmeYTvEjNt4Snyit0aepKuaYuRCkvsY=w988-h1480-no");
}
.image07 {
  background-image: url("https://lh3.googleusercontent.com/rGnrphu7IRj3rlN2VLpEiYDUfZcPH6zPGSgtlwCCNmnFYc2xp2YzLMgCcwd_iVq-k9JyaYX4CqYbHKHmgAAS3Ywx7agcvKXPXnZTIUZM8k0axDqRq90gRXbF3Y4lhg4WQo4UTWcwOSIPgWZ1AaHTI-v_-nTz9g_TR7HEAqrv-dAiGOhNa3KlxjReodu2wYq68e7AOjzxRta_re5xQpoBGWdrbA5tKPjoPY0oP2h1ZAUTMp_QlR9nvyShW2aEl8yr_LIB7RfrSZkeL7xi7lIgqe-Xo1pSCyMhfBiHFCzPhFjc1SNWkBZRW3gBoEZdhDHniFgwVEHhCW0VOJbZzjpPxf8r-LjBOy54E2UO9pwpVGm_rL9KvkPcNqszRYRPXq_6MusRIzXq4NglNsHo4yjf310e_E6lSL2v-4DkVs5Ftg7yS_okRSzRT5NnZqEAtwW24sVxgElf3pGDgtXL_0Lg5cmiRcUKDn-e0hDj2KZzRXVcqWvlpbWeYCzNrk_0XQtKBPyZjTgiYFEN0ZjZN7ZQicOf774fxE0dCBSknZFvqXwngvOmvhKGtn4GI0I-1LMEc6CuKbWnlL-lIBokxOckVXjlXI5uUlg4Rs6JSjo=w1110-h1480-no");
}
.image08 {
  background-image: url("https://lh3.googleusercontent.com/DTRTEF0dnSpXAz-bs-nJr8_Ot93AgnuVscP5u6ysPsXc_u0FdeqkW7OYfJxvJhRmau2fO1C2KRU7h3YUZrIzZk6A743vS9Y2ygwB0v-ZwMnOlXcvjGrLJtD5lUfFLdKLDJradwz5Xtwnq_3VJhpLkMo6XB5ZBmgutA3UrFPJUq94YQDatAjiayx54hbxU77YG0qneuWK0xRJxOQdewg00VlIH5oyLWwSbhmvt7S_aLU0Ra9YEhem0KYmtkXKK9AelwpdNJGLOcRoe2nv5Eibo9dlOyIX0U8w1IRo-TqNXMPc0llUOW6e6QBuFoLp4Ouhg-5g1ngVVICZcKz8GXBvZ4NkQMJ5Ca0WHxztGajE3Mf1lwVk6rm8Va923bXVH3Mxh0D7NtkTcJdMYgtv9N6eb-cODFJ5yM5gYpXSu0MoSI093K0lNWAwH83gojIg-H9dJjfcz83bwovJ_lYnqAo1a3wuFAsmy2465fxcS7VQ5upOH6pVE-K1DECBo2ryMV71_Ndw0-pS6RMYTFJhGVN5QWU3K-O15oxhjm-RGl3l2VlFNAK959hKc_atvoKDEKFhxzAUW846cPY-HQqKHQ9NiS8EFqsrvZOOUCc5SdcIbwEiLR_zSpD7Mgf6zH8PmdBGm-YgRdfbHNKhKdgosXXBHdj-BrgjJkWlmg=w2222-h1480-no");
}

@media screen and (max-width: 400px) {
  .image-grid {
    flex-direction: column;
    flex-wrap: no-wrap;
  }
  .image-grid div {
    width: 100%;
  }
}

table,
th,
td {
  border: 1px solid black;
  border-collapse: collapse;
}
th,
td {
  padding: 5px;
}
th {
  text-align: left;
}

input[type="text"],
select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type="submit"] {
  width: 100%;
  background-color: #ffffff;
  color: black;
  padding: 14px 20px;
  margin: 8px 0;
  border: 1px solid #555555;
  border-radius: 4px;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: #cccccc;
}

div {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}

.formInput input {
  box-sizing: border-box;
  z-index: 1;
  display: block;
  position: relative;
  top: 0;
  left: 0;
  float: left;
  font-size: 1em;
  font: inherit;
  border: 0;
  margin: 0;
  padding: 0 4px 0 56px;
  border: 1px solid transparent;
  border-radius: inherit;
  width: 100%;
  height: 47px;
  line-height: 47px;
  background: transparent;
  color: inherit;
  transition: border-color 0.2s, color 0.2s, background-color 0.4s;
}

.formInput.hasTextarea {
  line-height: 24px;
  height: 191px;
}
.formInput.hasTextarea i {
  border-radius: 0 0 3px;
}
.formInput textarea {
  box-sizing: border-box;
  resize: none;
  z-index: 1;
  display: block;
  position: relative;
  top: 0;
  left: 0;
  float: left;
  font-size: 1em;
  font: inherit;
  border: 1px solid transparent;
  border-radius: inherit;
  margin: 0;
  padding: 12px 4px 6px 56px;
  width: 100%;
  height: 100%;
  line-height: 24px;
  background: transparent;
  color: inherit;
  transition: border-color 0.2s, color 0.2s, background-color 0.4s;
}

